@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.time {
  position: absolute;
  right: 28px;
  top: 114px;
  text-align: right;
}

#smallTime {
  color: #fff;
  font-family: "Russo One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#largeTime {
  color: #fff;
  font-family: "Russo One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.mainButton {
  width: 88px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #20eeb0;
  border: none;
  cursor: pointer;
}

.jsButton {
  border: none;
  background-color: #fff;
  cursor: pointer;
  background-image: url("./imgs/akar-icons_trash-can.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.taskLabel {
  position: relative;
}

.taskLabel:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("./imgs/akar-icons_circle.png") center / contain no-repeat;
}

h1 {
  color: #0d0d0d;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: #888;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.task {
  padding: 12px 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ebeff2;
  width: 275px;
  height: 50px;
}

.container {
  width: 430px;
  border-radius: 10px;
  padding-top: 202px;
  background-image: url("./imgs/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #fff;
  position: relative;
}

.content {
  padding: 25px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

form {
  display: flex;
  justify-content: space-between;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.itemStatus {
  display: flex;
  gap: 14px;
  align-items: center;
}
